<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./assets/styles/homepage-mutual.css">
    <link rel="stylesheet" href="./assets/styles/menu-bao-tu-ca.css">
    <link rel="stylesheet" href="./assets/styles/coupon-detail.css">
    <title>Coupon detail</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <img class="res-logo" src="./assets/images/restaurant-logo.png" alt="logo">
            <div class ="nav-option">
                <div class ="nav-option-row-1">
                    <p><a href="">Trang chủ</a></p>
                    <p><a href="">Giới Thiệu</a></p>
                    <p><a href="">Thực đơn</a></p>
                    <p><a href="">Hình ảnh</a></p>
                    <p><a href="">Khuyến mãi</a></p>
                    <p><a href="">Tin tức</a></p>
                </div>
                <div class ="nav-option-row-2">
                    <p><a href="">Tuyển dụng</a></p>
                    <p><a href="">Liên hệ</a></p>
                </div>
            </div>
            <div class="nav-icon">
                <img src="./assets/images/facebook.png" alt="facebook-icon">
                <img src="./assets/images/instagram.png" alt="insta-icon">
                <img src="./assets/images/youtube.png" alt="youtube-icon">
            </div>
        </nav>
        <h2>ĂN THẢ GA- KHÔNG LO VỀ GIÁ ❤️ NHẤC MÁY GỌI NGAY <br>GIAO CHẢ CÁ LIỀN TAY</h2>
    </header>
    <section class="container">
        <img class="coupon-first-image" src="./assets//images/cpdetail.jpg" alt="">
        <p>Nhằm đáp ứng nhu cầu của quý thực khách “ghiền” món chả cá nhưng ngại đi ra ngoài, nhà hàng Chả Cá Đế Vương đang có chương trình khuyến mãi:
            <br>CHỈ 129k/ 1 SUẤT CHẢ CÁ
            <br>(đã kèm bún, rau thơm, hành, thì là, đậu phộng và mắm tôm hoặc nước mắm)
            <br><br><span>ĐẶC BIỆT:</span>
            <br>👍 Miễn phí giao hàng (bán kính 3km tính từ nhà hàng)
            <br>👍 Tặng 1 đồ uống miễn phí!
            <br>TRÂN TRỌNG KÍNH MỜI!
            <br>——— 🐟🐟🐟🐟🐟———-
            <br>CHẢ CÁ ĐẾ VƯƠNG
            <br>🏠 794 Sư Vạn Hạnh – Phường 12 – Quận 10
            <br>☎️ Hotline: 0898 89 39
            </p>
        <img class="coupon-normal-image" src="./assets//images/cpdetail.jpg" alt="">
        <p>🏠16 Kỳ Đồng – Phường 9 – Quận 3 <br>
            ☎️ Hotline: 0705 85 68 68</p>
        <img class="coupon-normal-image" src="./assets//images/cpdetail.jpg" alt="">
        <p>🏠35 Trường Sơn – Phường 4 – Q.Tân Bình <br>
            ☎️ Hotline: 0773 83 88 99</p>
        <img class="coupon-normal-image" src="./assets//images/cpdetail.jpg" alt="">
        <p>⏰ Giờ mở cửa: <br>
            Sáng: 10h30 – 14h00🏠<br>
            Tối : 16h30 – 22h00<br>
            🌐 Facebook: Chả Cá Đế Vương<br>
            🏠 htttp://chacadevuong.com</p>
    </section>
    <div id="response">
        <div class="background-layer"></div>
        <h1 class="special-text">Phản hồi từ khách hành</h1>
        <div class="hr"></div>
        <h5> Nhà hàng chúng tối rất hân hạnh khi được phục vụ quý khách. Mọi ý kiến đóng góp của mọi người đều sẽ được
            ghi nhận để nhà hàng chúng tối thay đổi và ngày càng phát triễn </h5>
        <div class="response-content">
            <div class="response-content-item">
                <img src="./assets/images/avt1.png" alt="">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p> Địa điểm dễ kiếm, không gian đẹp và nhân viên phục vụ nhiệt tình, dễ thương, món ăn ngon. </p>
                <h4> Trung Hiếu Đặng </h4>
            </div>
            <div class="response-content-item">
                <img src="./assets/images/avt2.png" alt="">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p> Nhà hàng ăn ngon lắm, nhân viên phục vụ thì nhiệt tình, dễ thương và lên món ăn rất nhanh, view nhìn
                    ngay mặt tiền đường nên dễ thấy, decor rất đẹp. </p>
                <h4> Markky </h4>
            </div>
            <div class="response-content-item">
                <img src="./assets/images/avt3.png" alt="">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <p> Trãi nghiệm Hà Nội thuần chất ở Sài Gòn. Nhà hàng trang trí trang nhã với nhiều bức ảnh đẹp về Hà
                    Nội và bộ bàn ghế cao cấp. Món ăn ngon. </p>
                <h4> Thành Nguyên Bùi </h4>
            </div>
        </div>
    </div>
    <div id="statistic">
        <div class="statistic-content">
        </div>
        <div class="statistic-content">
        </div>
        <div class="statistic-content">
        </div>
    </div>
    <footer id="footer">
        <div class="branch">
            <h2>Các chi nhánh</h2>
            <h5><b>Cơ sở 1: </b> 30/3A Ngô Thời Nhiệm, Phường Võ Thị Sáu, Quận 3, TPHCM</h5>
            <h5><b>Cơ sở 2: </b>794 Sư Vạn Hạnh, Phường 12, Quận 10, TPHCM </h5>
            <h5><b>Cơ sở 3: </b> 16 Kỳ Đồng, Phường 9, Quận 3, TPHCM </h5>
            <h5><b>Cơ sở 4: </b>35 Trường Sơn, Phường 4, Quận Tân Bình, TPHCM </h5>
        </div>
        <div class="contact">
            <h2>Liên lạc</h2>
            <div>
                <h4>Điện thoại</h4>
                <div>
                    <h5>0898.89.39.59</h5>
                    <h5>0705.85.68.68 </h5>
                    <h5>0773.86.68.68</h5>
                </div>
            </div>
            <div>
                <h4>Email</h4>
                <h5>ccdv@gmail.com</h5>
            </div>
        </div>
        <div class="subcribe">
            <h2>
                Đăng ký
            </h2>
            <input type="text" placeholder="Nhập địa chỉ email">
            <button>Đăng ký</button>
        </div>
        
    </footer>
    <div id="end">
        <h5>Copyright c 2022 | Theme Designed by Tan Le</h5> 
        <div>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
</body>
</html>