<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main dashboard</title>
    <link rel="stylesheet" href="./assets/styles/dashboard-mutual.css">
    <link rel="stylesheet" href="./assets/styles/dashboard-main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header -->
    <header id="header">
        <div class="header-name">
            <h1> Chả cá đế vương </h1>
        </div>
        <div class="header-title">
            <h3> Hệ thống quản lý </h3>
        </div>
        <div class="header-time">
            <i class="fa-regular fa-clock"></i>
            <p> 07:08 </p>
        </div>
        <div class="header-user">
            <i class="fa-regular fa-bell"></i>
            <p> Admin </p>
            <img src="./assets/images/avt-tan.jpg" alt="">
        </div>
    </header>
    <!-- Main -->
    <div id="navigation">
        <div class="navigation-item chosen">
            <i class="fa-solid fa-house"></i>
        </div>
        <div class="navigation-item">
            <i class="fa-regular fa-calendar-days"></i>
        </div>
        <div class="navigation-item">
            <i class="fa-solid fa-user-group"></i>
        </div>
        <div class="navigation-item">
            <i class="fa-solid fa-signal"></i>
        </div>
        <div class="navigation-item">
            <i class="fa-solid fa-gear"></i>
        </div>
    </div>
    <div id="new-customers">
        <h2>Khách mới</h2>
        <div>
            <h3>123. ABC</h3>
            <p>4 người</p>
        </div>
    </div>
    <div id="ordered-customers">
        <h2>Khách đặt trước</h2>
        <div>
            <div class="ordered-customers-item unlock chosen">
                <i class="fa-solid fa-lock-open"></i>
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Bàn 7</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item unlock">
                <i class="fa-solid fa-lock"></i>
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Bàn 7</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item locked">
                <i class="fa-solid fa-lock-open"></i>
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Bàn 7</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item locked">
                <i class="fa-solid fa-lock-open"></i>
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Bàn 7</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
            <div class="ordered-customers-item">
                <div class="ordered-customers-item-top">
                    <h3>Quốc Hưng</h3>
                    <p>0337229803</p>
                </div>
                <div class="ordered-customers-item-bottom">
                    <button>Chưa có</button>
                    <p>07:00</p>
                    <p>8 người</p>
                </div>
            </div>
        </div>
    </div>
    <div id="clerks">
        <h2>Nhân viên</h2>
        <div class="clerks-item">
            <img src="" alt="">
            <h3>Phú Hưng</h3>
        </div>
    </div>
    <div id="main">
        <div class="main-row">
            <div class="main-table-item">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <div>
                        <p> Vào lúc: </p>
                        <p> 07:00 </p>
                    </div>
                    <div>
                        <p> Dự kiến rời </p>
                        <p> 08:00 </p>
                    </div>
                    <p>Còn 15 phút</p>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/8-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item locked">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-orange.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Thanh Tân</h2>
                </div>
            </div>
        </div>
        <div class="main-row">
            <div class="main-table-item">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <div>
                        <p> Vào lúc: </p>
                        <p> 07:00 </p>
                    </div>
                    <div>
                        <p> Dự kiến rời </p>
                        <p> 08:00 </p>
                    </div>
                    <p>Còn 15 phút</p>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/8-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item locked">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-orange.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Thanh Tân</h2>
                </div>
            </div>
        </div>
        <div class="main-row">
            <div class="main-table-item">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <div>
                        <p> Vào lúc: </p>
                        <p> 07:00 </p>
                    </div>
                    <div>
                        <p> Dự kiến rời </p>
                        <p> 08:00 </p>
                    </div>
                    <p>Còn 15 phút</p>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/8-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item locked">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-orange.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Thanh Tân</h2>
                </div>
            </div>
        </div>
        <div class="main-row">
            <div class="main-table-item">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <div>
                        <p> Vào lúc: </p>
                        <p> 07:00 </p>
                    </div>
                    <div>
                        <p> Dự kiến rời </p>
                        <p> 08:00 </p>
                    </div>
                    <p>Còn 15 phút</p>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/8-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item locked">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-orange.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Thanh Tân</h2>
                </div>
            </div>
        </div>
        <div class="main-row">
            <div class="main-table-item">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <div>
                        <p> Vào lúc: </p>
                        <p> 07:00 </p>
                    </div>
                    <div>
                        <p> Dự kiến rời </p>
                        <p> 08:00 </p>
                    </div>
                    <p>Còn 15 phút</p>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/8-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item locked">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-orange.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Thanh Tân</h2>
                </div>
            </div>
        </div>
        <div class="main-row">
            <div class="main-table-item">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <div>
                        <p> Vào lúc: </p>
                        <p> 07:00 </p>
                    </div>
                    <div>
                        <p> Dự kiến rời </p>
                        <p> 08:00 </p>
                    </div>
                    <p>Còn 15 phút</p>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/8-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item locked">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-orange.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Thanh Tân</h2>
                </div>
            </div>
        </div>
        <div class="main-row">
            <div class="main-table-item">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <div>
                        <p> Vào lúc: </p>
                        <p> 07:00 </p>
                    </div>
                    <div>
                        <p> Dự kiến rời </p>
                        <p> 08:00 </p>
                    </div>
                    <p>Còn 15 phút</p>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/8-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item locked">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-orange.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Thanh Tân</h2>
                </div>
            </div>
        </div>
        <div class="main-row">
            <div class="main-table-item">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <div>
                        <p> Vào lúc: </p>
                        <p> 07:00 </p>
                    </div>
                    <div>
                        <p> Dự kiến rời </p>
                        <p> 08:00 </p>
                    </div>
                    <p>Còn 15 phút</p>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/8-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item locked">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-orange.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Thanh Tân</h2>
                </div>
            </div>
        </div>
        <div class="main-row">
            <div class="main-table-item">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <div>
                        <p> Vào lúc: </p>
                        <p> 07:00 </p>
                    </div>
                    <div>
                        <p> Dự kiến rời </p>
                        <p> 08:00 </p>
                    </div>
                    <p>Còn 15 phút</p>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/8-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item unlock">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-green.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Đang trống</h2>
                </div>
            </div>
            <div class="main-table-item locked">
                <div class="main-table-item-left">
                    <h2> Bàn 1 </h2>
                    <img src="./assets/images/2-seats-table-orange.svg" alt="">
                </div>
                <div class="main-table-item-right">
                    <h2>Thanh Tân</h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>