<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./assets/styles/homepage-mutual.css">
    <link rel="stylesheet" href="./assets/styles/menu-bao-tu-ca.css">
    <title>Menu bao tu ca</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <img class="res-logo" src="./assets/images/restaurant-logo.png" alt="logo">
            <div class ="nav-option">
                <div class ="nav-option-row-1">
                    <p><a href="">Trang chủ</a></p>
                    <p><a href="">Giới Thiệu</a></p>
                    <p><a href="">Thực đơn</a></p>
                    <p><a href="">Hình ảnh</a></p>
                    <p><a href="">Khuyến mãi</a></p>
                    <p><a href="">Tin tức</a></p>
                </div>
                <div class ="nav-option-row-2">
                    <p><a href="">Tuyển dụng</a></p>
                    <p><a href="">Liên hệ</a></p>
                </div>
            </div>
            <div class="nav-icon">
                <img src="./assets/images/facebook.png" alt="facebook-icon">
                <img src="./assets/images/instagram.png" alt="insta-icon">
                <img src="./assets/images/youtube.png" alt="youtube-icon">
            </div>
        </nav>
        <h2>Bao tử cá</h2>
    </header>
    <section class="container">
        <div class="food-contact">
            <div class="food-image">
                <img src="./assets/images/dishes/cha-ca-1.jpg" alt="">
            </div>
            <div class="food-contact-info">
                <p class="food-price">Giá: 129.000 đ</p>
                <div class="hr"></div>
                <button class="contact-button-1"><i class="fa-solid fa-phone-flip"></i>LIÊN HỆ</button>
                <button class="contact-button-2">ĐẶT BÀN NGAY</button>
                <p class="food-category">Categories: Món ăn đặt biệt, Món chính</p>
                <div class="food-contact-info-box">
                    <h1>THÔNG TIN LIÊN HỆ</h1>
                    <p><span>Địa chỉ 1:</span> 794, Sư Vạn Hạnh, Phường 12, Quận 10, TPHCM</p>
                    <p><span>Địa chỉ 2:</span> 16 Kỳ Đồng, Phường 9, Quận 3, TPHCM</p>
                    <p><span>Địa chỉ 3:</span> 794, Sư Vạn Hạnh, Phường 12, Quận 10, TPHCM</p>
                    <p><span>Địa chỉ 4:</span> 16 Kỳ Đồng, Phường 9, Quận 3, TPHCM</p>
                    <p><span>Địa chỉ 5:</span> 794, Sư Vạn Hạnh, Phường 12, Quận 10, TPHCM</p>
                    <p><span>Hotline :</span> 0989.89.39.59</p>
                    <p><span>Email :</span> chacadevuong@gmail.comcom</p>

                </div>
                <p class="food-share-text">Chia sẻ món ăn này:</p>
                <div class="nav-icon">
                    <img src="./assets/images/facebook.png" alt="facebook-icon">
                    <img src="./assets/images/instagram.png" alt="insta-icon">
                    <img src="./assets/images/youtube.png" alt="youtube-icon">
                </div>
            </div>
        </div>
        <br>
        <div class="food-description">
            <div class="food-description-hr">
                <div class="food-description-hr-child"></div>
            </div>
            <span class="food-description-first-tag">MÔ TẢ</span>
            <p>Người ta thường hay chế biến các món ăn từ những bao tử động vật như: heo, bò và gà,… mà ít khi dùng bao tử cá. Chắc hẳn sẽ có khá ít người biết đến những món ăn ngon từ bao tử cá ba sa, tuy nhiên bao tử cá vẫn có thể chế biến được rất nhiều món ngon, vô cùng hấp dẫn và lôi cuốn; một khi đã nếm thử bạn rất khó có thể quên hương vị ấy. Nếu những ai vẫn chưa từng thưởng thức các món ăn này thì đừng bỏ qua và hãy bổ sung ngay vào thực đơn ăn uống của mình và gia đình nhé. Biết đâu nó sẽ trở thành món yêu thích của bạn đó.</p>
            <h3>Vậy để làm sạch bao tử cá ba sa thì ta cần phải làm gì?</h3>
            <img src="./assets//images/dishes/cha-ca-2 (2).jpg" alt="">
            <p>Việc làm sạch bao tử cá ba sa trước khi chế biến các món ăn có vai trò rất quan trọng. Vì nếu sơ chế không sạch, món ăn không chỉ mất đi hương vị thơm ngon đặc trưng mà còn gây ảnh hưởng đến sức khỏe.
                <br><br>
                Sau khi mua bao tử cá ba sa về, bạn đem rửa sạch với nước trước. Sau đó bạn cho thêm muối vào sao cho phù hợp với lượng bao tử cá. Dùng tay bóp kỹ thật nhiều lần để loại hết nhớt và mùi hôi. Tiếp đó, bạn lột ngược bao tử cá ba sa lại, tiếp tục thêm muối và pha thêm nước cốt chanh vào bóp kỹ nhiều lần.  Làm như vậy khoảng 10 phút rồi bạn đem rửa sạch lại với nước. Cách làm này giúp cho bao tử cá ba sa vừa sạch nhớt, khử hết mùi hôi và có màu trắng đẹp.
                <br><br>
                Ngoài cách trên, bạn cũng có thể rửa sạch qua bao tử cá ba sa, sau đó cho vào giấm để ngâm khoảng 10 – 15 phút rồi lộn ra rửa sạch. Không nên ngâm quá lâu với giấm vì sẽ là bao tử cá ba sa không còn giòn và mất đi vị ngọt đặc trưng.
                <br><br>
                Nếu cẩn thận và kỹ hơn nữa, sau các bước sơ chế trên đây, bạn có thể đun thêm nước sôi, vắt thêm nước cốt chanh và thêm chút muối vào, sau đó cho bao tử cá ba sa vào chần sơ khoảng 4 – 5 phút rồi vớt ra trụng ngay vào nước đá lạnh để giữ độ giòn cho bao tử cá.</p>
            <h3>Các món ngon được chế biến từ cá ba sa ?</h3>
            <img src="./assets/images/dishes/cha-ca-2 (1).jpg" alt="">
            <p>+ Bao tử cá ba sa xào cải chua
                <br>
                + Bao tử cá ba sa xào chua ngọt
                <br>
                + Bao tử cá ba sa kho tiêu
                <br>
                + Bao tử cá ba sa xào hành tây</p>
            <h3>Món bao tử cá ở Nhà hàng Chả cá Đế Vương có gì hấp dẫn?</h3>
            <img src="./assets/images/dishes/f-1.jpg" alt="">
            <p>Còn chần chừ gì nữa mà không cùng bạn bè, đồng nghiệp và gia đình của mình đến Nhà hàng Chả cá Đế Vương để thưởng thức món Bao tử cá và các món đặc sản khác.
                <br><br>
                Chả Cá Đế Vương, ắt hẳn sẽ làm hài lòng Quý khách, rất hân hạnh được phục vụ Quý Khách♥️♥️♥️
                <br><br>
                ——— 🐟🐟🐟🐟🐟———-
                HỆ THỐNG NHÀ HÀNG CHẢ CÁ ĐẾ VƯƠNG <br>
                Cs1: 794 Sư Vạn Hạnh – Phường 12 – Quận 10<br>
                Hotline: 0898 89 39 59<br>
                Cs2: 16 Kỳ Đồng – Phường 9 – Quận 3<br>
                Hotline: 0705 85 68 68<br>
                Cs3: 35 Trường Sơn – Phường 4 – Quận Tân Bình (Gần sân bay Tân Sơn Nhất)<br>
                Hotline: 0773 83 88 99<br>
                Cs4: 529 Phan Văn Trị, Phường 5 – Quận Gò Vấp<br>
                Hotline: 0776 63 88 99<br>
                Giờ mở cửa: 10h00 – 14h00; 16h30 – 22h00<br>
                Website: htttp://chacadevuong.com</p>
                <div class="food-description-hr"></div>
        </div>
        <div class="food-extra">
            <h3>Sản phẩm khác</h3>
            <div class="food-description-hr-child"></div>
            <div class="food-extra-list">
                <div class="food-extra-list-row">
                    <div class="food-extra-list-item">
                        <div class="food-extra-list-item-img">
                            <img src="./assets/images/dishes/f12.jpg" alt="">
                        </div>
                        <div class="food-extra-list-item-info">
                            <h2>Rau ăn kèm</h2>
                            <p>129.000 ₫</p>
                            <button>Xem chi tiết</button>
                        </div>
                    </div>
                    <div class="food-extra-list-item">
                        <div class="food-extra-list-item-img">
                            <img src="./assets/images/dishes/f10.png" alt="">
                        </div>
                        <div class="food-extra-list-item-info">
                            <h2>Lẩu cá lăng</h2>
                            <p>439.000 ₫</p>
                            <button>Xem chi tiết</button>
                        </div>
                    </div>
                    <div class="food-extra-list-item">
                        <div class="food-extra-list-item-img">
                            <img src="./assets/images/dishes/f14.png" alt="">
                        </div>
                        <div class="food-extra-list-item-info">
                            <h2>Tào phớ</h2>
                            <p>29.000 ₫</p>
                            <button>Xem chi tiết</button>
                        </div>
                    </div>

                </div>
                <div class="food-extra-list-row">
                    <div class="food-extra-list-item">
                        <div class="food-extra-list-item-img">
                            <img src="./assets/images/dishes/f-2.png" alt="">
                        </div>
                        <div class="food-extra-list-item-info">
                            <h2>Cá lăng thêm</h2>
                            <p>259.000 ₫</p>
                            <button>Xem chi tiết</button>
                        </div>
                    </div>
                    <div class="food-extra-list-item">
                        <div class="food-extra-list-item-img">
                            <img src="./assets/images/dishes/f11.jpg" alt="">
                        </div>
                        <div class="food-extra-list-item-info">
                            <h2>Lẩu đầu cá</h2>
                            <p>189.000 ₫</p>
                            <button>Xem chi tiết</button>
                        </div>
                    </div>
                    <div class="food-extra-list-item">
                        <div class="food-extra-list-item-img">
                            <img src="./assets/images/dishes/f7.jpg" alt="">
                        </div>
                        <div class="food-extra-list-item-info">
                            <h2>Chè đế vương</h2>
                            <p>29.000 ₫</p>
                            <button>Xem chi tiết</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div></div>
    </section>
    <div id="response">
        <div class="background-layer"></div>
        <h1 class="special-text">Phản hồi từ khách hành</h1>
        <div class="hr"></div>
        <h5> Nhà hàng chúng tối rất hân hạnh khi được phục vụ quý khách. Mọi ý kiến đóng góp của mọi người đều sẽ được
            ghi nhận để nhà hàng chúng tối thay đổi và ngày càng phát triễn </h5>
        <div class="response-content">
            <div class="response-content-item">
                <img src="./assets/images/avt1.png" alt="">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p> Địa điểm dễ kiếm, không gian đẹp và nhân viên phục vụ nhiệt tình, dễ thương, món ăn ngon. </p>
                <h4> Trung Hiếu Đặng </h4>
            </div>
            <div class="response-content-item">
                <img src="./assets/images/avt2.png" alt="">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p> Nhà hàng ăn ngon lắm, nhân viên phục vụ thì nhiệt tình, dễ thương và lên món ăn rất nhanh, view nhìn
                    ngay mặt tiền đường nên dễ thấy, decor rất đẹp. </p>
                <h4> Markky </h4>
            </div>
            <div class="response-content-item">
                <img src="./assets/images/avt3.png" alt="">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <p> Trãi nghiệm Hà Nội thuần chất ở Sài Gòn. Nhà hàng trang trí trang nhã với nhiều bức ảnh đẹp về Hà
                    Nội và bộ bàn ghế cao cấp. Món ăn ngon. </p>
                <h4> Thành Nguyên Bùi </h4>
            </div>
        </div>
    </div>
    <div id="statistic">
        <div class="statistic-content">
        </div>
        <div class="statistic-content">
        </div>
        <div class="statistic-content">
        </div>
    </div>
    <footer id="footer">
        <div class="branch">
            <h2>Các chi nhánh</h2>
            <h5><b>Cơ sở 1: </b> 30/3A Ngô Thời Nhiệm, Phường Võ Thị Sáu, Quận 3, TPHCM</h5>
            <h5><b>Cơ sở 2: </b>794 Sư Vạn Hạnh, Phường 12, Quận 10, TPHCM </h5>
            <h5><b>Cơ sở 3: </b> 16 Kỳ Đồng, Phường 9, Quận 3, TPHCM </h5>
            <h5><b>Cơ sở 4: </b>35 Trường Sơn, Phường 4, Quận Tân Bình, TPHCM </h5>
        </div>
        <div class="contact">
            <h2>Liên lạc</h2>
            <div>
                <h4>Điện thoại</h4>
                <div>
                    <h5>0898.89.39.59</h5>
                    <h5>0705.85.68.68 </h5>
                    <h5>0773.86.68.68</h5>
                </div>
            </div>
            <div>
                <h4>Email</h4>
                <h5>ccdv@gmail.com</h5>
            </div>
        </div>
        <div class="subcribe">
            <h2>
                Đăng ký
            </h2>
            <input type="text" placeholder="Nhập địa chỉ email">
            <button>Đăng ký</button>
        </div>
        
    </footer>
    <div id="end">
        <h5>Copyright c 2022 | Theme Designed by Tan Le</h5> 
        <div>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
</body>
</html>